<!doctype html>
<html lang="en-gb">
    <head>
        <title>{{name}}</title>
        <link rel="stylesheet" href="../../summary.css">
        <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
        <script
            src="https://maps.googleapis.com/maps/api/js?key={{apikey}}&callback=initMap&libraries=&v=weekly"
            defer></script>
    </head>
    <body>
        <div id="container">
            {{summary_table}}
        </div>
        <div id="map-container">
            <div id="map"></div>
        </div>
        <div id="img-container">
            <img src="{{filename}}" />
        </div>
        <div id="dataframe">
            {{dataframe}}
        </div>
    </body>
    <script src="../../app.js"></script>
</html>
