<table>
    <tbody>
        <tr>
            <td colspan="2" id="heading">
                {{name}}
            </td>
        </tr>
        <tr>
            <td>Distance:</td>
            <td>{{distance_km}}.{{distance_m}}km</td>
        </tr>
        <tr>
            <td>Total Time:</td>
            <td>{{time_hours}}:{{time_mins}}:{{time_seconds}}</td>
        </tr>
        <tr>
            <td>Average Pace:</td>
            <td>{{pace_mins}}:{{pace_seconds}} (min/km)</td>
        </tr>
        <tr>
            <td>Elevation Gain:</td>
            <td>{{elevation_gain}}m</td>
        </tr>
    </tbody>
</table>